  :root {
    --DarkBlue: hsl(209, 23%, 22%);
    /* (Dark Mode Elements) */
    --VeryVeryDarkBlue: hsl(207, 26%, 17%);
    /*  (Dark Mode Background) */
    --VeryLightGray: hsl(0, 0%, 98%);
    /* (Light Mode Background) */
    --VeryDarkBlue: hsl(200, 15%, 8%);
    /* (Light Mode Text) */
    --DarkGray: hsl(0, 0%, 52%);
    /* (Light Mode Input)  */
    --White: hsl(0, 0%, 100%);
    /* (Dark Mode Text & Light Mode Elements) */
  }

  .header-shadow-light {
    -webkit-box-shadow: 0px 1px 5px 0px var(--DarkGray);
    -moz-box-shadow: 0px 1px 5px 0px var(--DarkGray);
    box-shadow: 0px 1px 5px 0px var(--DarkGray);
  }


  .bg-white {
    background: var(--White);
  }

  .bg-light {
    background: var(--VeryLightGray);
  }

  .text-light {
    color: var(--White);
  }

  .text-dark {
    color: black;
  }

  .bg-darkBlue {
    background: var(--DarkBlue);
  }

  .bg-dark {
    background: var(--VeryVeryDarkBlue);
  }

  .light-shadow {
    -webkit-box-shadow: 0px 0px 5px 0px var(--DarkGray);
    -moz-box-shadow: 0px 0px 5px 0px var(--DarkGray);
    box-shadow: 0px 0px 5px 0px var(--DarkGray);
  }


  .loader {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
  }

  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    /* border: 1px solid black; */
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    background: rgb(237, 115, 115);
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    background: rgb(235, 143, 57);
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    background: rgb(230, 235, 76);
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }


  .custom-select {
    position: relative;
    font-family: Arial;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: DodgerBlue;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }