@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --DarkBlue: hsl(209, 23%, 22%);
  /* (Dark Mode Elements) */
  --VeryVeryDarkBlue: hsl(207, 26%, 17%);
  /*  (Dark Mode Background) */
  --VeryLightGray: hsl(0, 0%, 98%);
  /* (Light Mode Background) */
  --VeryDarkBlue: hsl(200, 15%, 8%);
  /* (Light Mode Text) */
  --DarkGray: hsl(0, 0%, 52%);
  /* (Light Mode Input)  */
  --White: hsl(0, 0%, 100%);
  /* (Dark Mode Text & Light Mode Elements) */
}

body {
  background-color: var(--VeryLightGray);
}

.header-shadow-light {
  -webkit-box-shadow: 0px 1px 5px 0px var(--DarkGray);
  -moz-box-shadow: 0px 1px 5px 0px var(--DarkGray);
  box-shadow: 0px 1px 5px 0px var(--DarkGray);
}


.bg-light {
  background-color: var(--VeryLightGray);
}


.bg-darkblue {
  background-color: var(--DarkBlue);
}

.bg-dark {
  background-color: var(--VeryVeryDarkBlue);
}

.light-shadow {
  -webkit-box-shadow: 0px 0px 5px 0px var(--DarkGray);
  -moz-box-shadow: 0px 0px 5px 0px var(--DarkGray);
  box-shadow: 0px 0px 5px 0px var(--DarkGray);
}


/* The container must be positioned relative: */
